header {
    height: 10rem;
}

header nav {
	padding-left: 6rem;
}

header > div img {
    width: 22.53rem;
    height: 10rem;
}

#search_icon-container {
	margin-left: 2rem;
}

header .contact-cart-container {
    padding-right: 6rem;
}

.user-icon {
	margin-right: 2rem;
}