header {
    height: 10rem;
}

header nav {
	padding-left: 6rem;
}

header > div img {
    width: 22.53rem;
    height: 10rem;
}

#search_icon-container {
	margin-left: 2rem;
}

header .contact-cart-container {
    padding-right: 6rem;
}

.contact-cart-container span:nth-child(2) {
	margin-left: 2rem;
}

.babies {
	max-width: 60rem;
	grid-template-columns: 1fr 1fr 1fr;
}

.babies-product {
	width: 18rem;
}

.babies-product img {
	width: 15rem;
	height: 15rem;
}

.babies-product p {
	font-size: var(--sm);
}